.places{
    text-align: center;
}
.places h1{
    font-size: 30px;
    text-align: left;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: top;
}

.places article h2{
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 60px;
    float: right;
}

.information {
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: self-end;
}

.max_guest, .number_rooms, .number_bathrooms {
  width: 100px;
  height: 100%;
  display: inline-block;
  background-position: top center;
  background-repeat: no-repeat;
}

.max_guest {
    background-image: url("../images/icon_group.png");
  }
  .number_rooms {
    background-image: url("../images/icon_bed.png");
  }
  .number_bathrooms {
    background-image: url("../images/icon_bath.png");
  }

  .user {
    display: flex;
    padding-top: 20px;
    font-weight: 100;
    font-size: 14px;
  }

  .description {
  text-align: left;
  font-weight: 100;
  font-size: 14px;
}

section.places .amenities, section.places .reviews {
    margin-top: 40px;
    display: block;
    text-align: left;
    width: 80%;
}

section.places .amenities h2, section.places .reviews h2 {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 0;
}

section.places .amenities ul {
    margin-top: 0;
}

section.places .amenities ul li {
    background-repeat: no-repeat;
    height: 20px;
    background-size: contain;
    padding-left: 25px;
    line-height: 25px;
}

section.places .amenities ul li.tv_icon {
    background-image: url('../images/icon_tv.png');
}

section.places .amenities ul li.wifi_icon {
    background-image: url('../images/icon_wifi.png');
}

section.places .amenities ul li.pet_icon {
    background-image: url('../images/icon_pets.png');
}

section.places .reviews ul {
    margin-top: 40px;
    padding: 0;
}

section.places .reviews ul li h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

section.places .reviews ul li p {
    margin-top: 5px;
    font-size: 12px;
}
